

.cardtable_card {
    display: inline-block;
}
body span.cardtable_card img {
    background-color:white;
    border-radius: 5px;
    border: solid 1px black;
    width: 70px;
    max-width: 70px;
    height: 102px;
}

.cardtable_hand {
    display: inline-block;
    height: 102px;
    padding-right: 50px; /* Leave room for last card overflow */
    overflow: visible;
}

.cardtable_hand .cardtable_card {
    width: 20px;
    overflow: visible;
}

.cardtable_fan_vertical {
    display: inline-block;
    width: 70px;
    padding-bottom: 82px; /* Leave room for last card overflow */
    overflow: visible;
}

.cardtable_fan_vertical .cardtable_card {
    display: block;
    height: 20px;
    overflow: visible;
}

.cardtable_pile {
    display: inline-block;
    height: 102px;
    padding-right: 70px; /* Leave room for last card overflow */
    overflow: visible;
}

.cardtable_pile .cardtable_card {
    width: 2px;
    overflow: visible;
}

.cardtable_pile .cardtable_card img {
    border: solid 1px white;
    box-shadow: 0px 0px 0 1px black;
}