
.cardtable_hand {
    padding-right: 50px; /* Leave room for last card overflow */
    overflow: visible;
}

.cardtable_hand .cardtable_card {
    width: 20px;
    overflow: visible;
}

.cardtable_card {
    display: inline-block;
}
body span.cardtable_card img {
    background-color:white;
    border-radius: 5px;
    border: solid 1px black;
    width: 70px;
    max-width: 70px;
    height: 102px;
}
